parameters:
  level: 6
  paths:
    - src
  ignoreErrors:
    - '#Constructor of class CommentSold\\Resources\\Response(.+) has an unused parameter \$response#'
    - '#Method CommentSold\\Resources\\Response(.+)::__construct\(\) has parameter \$payload with no value type specified in iterable type array#'